@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  background: #e6f1f6;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.ant-table {
  font-family: "Poppins", sans-serif !important;
}

.jodit-workplace {
  height: 400px !important;
}

.ant-pagination .ant-pagination-item-active {
  background: #b278fb;
  border-color: transparent;
}

.ant-pagination .ant-pagination-item-active:hover {
  background: #b278fb;
  border-color: transparent;
}

.ant-pagination .ant-pagination-item-active a {
  color: #fff;
}

.ant-pagination .ant-pagination-item-active a:hover {
  color: #fff;
}
