@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-form-item-control-input{
    min-height: 0 !important;
}

.ant-upload{
    color: #0071E3 !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 8px !important;
    cursor: pointer !important;
}

.custom-input::placeholder{
    color: #2B2A2A !important;
    font-size: 18px;
    font-weight: 400;
}